#graph-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#graph-container:fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#fullscreen-txt {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

#canvas-container {
  position: relative;
  aspect-ratio: 1;
  border: 3px solid black;
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  font-size: 16px;
}

#stats table, th, td {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.041);
}

#stats th, td {
  padding: 5px;
}

#stats table {
  border-collapse: collapse;
}

#graph-description {
  grid-column: span 2;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}