@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

#header {
  font-family: 'Crimson Text', serif;
  font-size: 70px;
  color: white;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.459); 
}

#header span {
  font-size: 110px;
}