#paths-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 10px;
  padding: 20px;
}

#paths-container span {
  text-align: center;
  grid-column: span 4;
  font-weight: bold;
}